@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.advantages-list {
  display: flex;
  flex-direction: column;

  @include mixin.list-reset;

  background-color: #eeeeee;

  counter-reset: advantages-counter;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  padding: 24px 0 0;

  counter-increment: advantages-counter;
}

.advantages-list__item--large {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  padding: 0;

  background-color: var.$color-main;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages-list__text-content {
  padding: 37px 18px;
}

.advantages-list__item--accented .advantages-list__text-content {
  padding: 33px 0 40px;
}

.advantages-list__item:not(.advantages-list-item--large)::after {
  content: "";

  margin: 24px 18px 0;
  width: calc(100% - (18px * 2));
  height: 1px;
  background-color: var.$color-advantage-border;

  @media (min-width: var.$tablet-width) {
    background-color: transparent;
  }
}

.advantages-list__item:last-child::after {
  margin: 27px 18px 0;

  background-color: transparent;
}

.advantages-list .advantages-list__item--large::after {
  margin: 0 18px;
  height: 0;
}

.advantages-list__title {
  display: flex;
  flex-direction: column;

  @include mixin.title-font-s;

  margin: 0 0 11px 0;

  @media (min-width: var.$tablet-width) {
    @include mixin.title-font-l;
  }
}

.advantages-list__item--large .advantages-list__title {
  color: var.$color-main-bg;
}

.advantages-list__title::after {
  content: "\2014 №" counter(advantages-counter) " \2014";

  margin: 0 0 17px 0;

  font-family: var.$main-font;
  font-size: var.$font-s;
  line-height: var.$line-height-s;
  font-weight: var.$normal;
}

.advantages-list__text {
  @include mixin.text-font;
}

.advantages-list__item--large .advantages-list__text {
  color: var.$color-main-bg;
}

.advantages-list__item-img {
  @media (min-width: var.$tablet-width) {
    grid-column: span 2;
  }
}
