@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.advantages__lead {
  @include mixin.text-font;

  margin-bottom: 16px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: var.$device-width) {
    margin-bottom: 44px;
  }
}
