@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.advantage-sublist-item {
  padding: 25px 18px 28px 65px;

  @media (min-width: var.$tablet-width) {
    padding: 158px 33px 60px;
  }

  @media (min-width: var.$device-width) {
    padding: 169px 50px 69px;
  }
}

.advantage-sublist-item__title {
  margin: 0 0 16px 0;

  @include mixin.title-font-s;
}

.advantage-sublist-item__text {
  @include mixin.text-font;
}
