@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.button {
  display: inline-block;
  padding: 16px 49px;

  @include mixin.title-font-l;

  color: var.$color-main-bg;

  background-color: var.$color-main;
  border: none;

  cursor: pointer;
}

.button:hover {
  background-color: var.$color-main-hover;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: var.$color-main-down;
}

.button:disabled {
  background-color: var.$color-disabled;
}

.button--modal {
  padding: 18px 64px 14px;
}
