@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.checkbox-box {
  padding: 0 20px 16px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 16px;
  }
}

.checkbox-box__label {
  position: relative;

  display: flex;
  align-items: center;

  @include mixin.label-review-content;
}

.checkbox-box__label::before {
  content: "";

  flex-shrink: 0;
  margin: 0 16px 0 0;
  width: 46px;
  height: 46px;

  background-color: var.$color-input-bg;
  border-radius: 4px;
}

.checkbox-box__label:hover::before,
.checkbox-box__checkbox:focus + .checkbox-box__label::before {
  background-color: var.$color-disabled;
}

.checkbox-box__label:active::before {
  background-color: var.$color-radio-checkbox-down;
}

.checkbox-box__checkbox:checked + .checkbox-box__label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
  background-position: center center;
}

.radio-input-box__label:active + .radio-input-box__label::before {
  background-color: rgba(51, 51, 51, 0.3);
}
