@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.gallery {
  padding: 37px 0 0;
}

.gallery__title {
  @include mixin.title-font-s;

  margin-bottom: 30px;
}

.gallery__lead {
  @include mixin.text-font;

  margin: 0 0 25px 0;
}
