@use "../global/fonts.scss";
@use "../global/variables.scss" as var;

.input-text-box {
  position: relative;

  padding: 0 0 4px;
}

.input-text-box--contacts {
  padding: 0 0 15px;
}

.input-text-box--contacts::after {
  content: "";

  position: absolute;
  right: 0;
  bottom: 15px;

  width: 58px;
  height: 58px;

  background-color: var.$color-contacts-icons;
}

.input-text-box--phone::after {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
}

.input-text-box--email::after {
  background-image: url("../img/envelope.svg");
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-position: center center;
}

.input-text-box__label {
  margin: 0 16px;

  font-family: var.$main-font;
  font-size: var.$font-s;
  line-height: var.$line-height-s;
  text-transform: uppercase;
  color: var.$color-main-text;
}
