.logo {
  position: absolute;
  left: 50%;
  z-index: 11;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}
