.map {
  padding-bottom: 10px;
}

.map__image {
  width: 100%;
  max-height: 350px;

  display: block;

  border: none;

  background-image: url("../../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 100% 350px;
  background-position: center;
}
