@use "../global/fonts.scss";
@use "../global/variables.scss" as var;

.page {
  height: 100%;
  background-color: var.$color-body-bg;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;

  font-family: var.$main-font;
  font-size: var.$font-m;
  line-height: var.$line-height-s;
  font-weight: var.$normal;
  font-style: var.$normal;
  word-break: break-word;
  color: var.$color-main-text;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: var.$color-main-bg;
}
