@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.page-footer {
  padding: 29px 18px 23px;
}

.page-footer__hashtag {
  display: block;

  @include mixin.title-font-l;

  margin: 0 0 33px;
}

.page-footer__socials-list {
  margin: 0 0 40px;
}

.page-footer__developer-link {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: max-content;

  @include mixin.font-s;
}

.page-footer__developer-link-text {
  margin: 0 12px 0 0;
}
