@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.photo {
  padding: 24px 0 0;

  border-top: 1px solid var.$color-disabled;

  @media (min-width: var.$tablet-width) {
    border-top: 1px solid transparent;
  }
}

.photo__wrapper {
  padding: 0 20px;
}

.photo__link {
  display: block;
  margin: 0;
}

.photo__title {
  margin: 15px 0 0;

  @include mixin.font-s;

  @media (min-width: var.$tablet-width) {
    margin: 22px 0 0;
  }
}

.photo__author {
  margin: 11px 0 0;

  font-family: var.$main-font;
  font-size: var.$font-s;
  line-height: var.$line-height-s;
  color: var.$color-main-text;
}
