@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;
 
 .radio-input-box:not(:last-child) {
    padding-bottom: 16px;
 }
 
 .radio-input-box__label {
    position: relative;

    display: flex;
    align-items: center;

    @include mixin.label-review-content;
 }

.radio-input-box__label::before {
    content: "";

    flex-shrink: 0;
    margin-right: 16px;
    width: 46px;
    height: 46px;

    background-color: #f2f2f2;
    border-radius: 50%;
}

.radio-input-box__radio-input:checked + .radio-input-box__label::after {
    content: "";

    position: absolute;
    left: 15px;
    top: 15px;

    width: 16px;
    height: 16px;

    background-color: var.$color-main-text;
    border-radius: 50%;
}
