@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.reviews {
    padding-top: 36px;
}

.reviews__title {
    @include mixin.title-font-l;

    margin-bottom: 24px;
}

.reviews__lead {
    @include mixin.text-font;

    margin-bottom: 28px;
}
