@use "../global/variables.scss" as var;

.socials-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.socials-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    background-color: var.$color-main;
}
