@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.trip-date {
    padding: 38px 18px 49px;

    text-align: center;
}

.trip-date__title {
    @include mixin.title-font-l;

    margin-bottom: 24px;
}

.trip-date__lead {
    @include mixin.text-font;

    margin-bottom: 32px;
}
