@use "fonts.scss";
@use "variables.scss" as var;

@mixin title-font-s {
  margin: 0;

  font-size: var.$font-m;
  line-height: var.$line-height-l;
  font-weight: var.$bold;
  text-transform: uppercase;
  text-align: center;
  color: var.$color-accented-text;
}

@mixin title-font-l {
  margin: 0;

  font-family: var.$main-font;
  font-size: var.$font-l;
  line-height: var.$line-height-l;
  font-weight: var.$bold;
  text-transform: uppercase;
  text-align: center;
  color: var.$color-accented-text;
}

@mixin text-font {
  margin: 0;

  font-size: var.$font-s;
  line-height: var.$line-height-s;
  font-weight: var.$normal;
  text-transform: uppercase;
  text-align: center;
  color: var.$color-main-text;
}

@mixin label-review-content {
  font-size: var.$font-m;
  line-height: var.$line-height-l;
  font-weight: var.$bold;
  color: var.$color-accented-text;
}

@mixin input-text {
  font-size: var.$font-m;
  line-height: var.$line-height-l;
  font-weight: var.$bold;
  color: rgba(0, 0, 0, 0.3);
}

@mixin font-s {
  font-size: var.$font-s;
  line-height: var.$line-height-s;
  text-transform: uppercase;
  color: var.$color-accented-text;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
